@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  img {
    @apply inline-block;
  }
}

@layer components {
  .container__width {
    width: calc(100% - 32px);
    max-width: 1200px;
    margin-inline: auto;
  }
}
